/node_modules
/public/image
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
/public/mix-manifest.json
/public/js
/public/css
/public/fonts
!/public/images/assets/*
storage/tmp/uploads/*
/public/node_modules
.docker
.framgia-ci-reports
.framgia-ci-result.temp.yml
